.banner {
  margin-top: var(--header-height);
  position: relative;
}

.bannerImg {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 7%;
  left: 7%;
  width: 35%;
  height: auto;
  padding: 2rem 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  font-style: italic;
}

.adjectives {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-size: clamp(1.5rem, 4.25vw, 2.25rem);
  width: 90%;
  padding-left: clamp(1rem, 4.25vw, 3rem);
  text-align: center;
}

@media (max-width: 560px) {
  .overlay {
    top: 60%;
    width: 100%;
    padding: 1rem 0;
    left: 0;
  }
}
