.header {
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  background: rgb(151, 108, 32);
  color: #ffffff;
  position: fixed;
  height: var(--header-height);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  font-family: 'Satisfy', system-ui;
  font-size: 2.8rem;
  cursor: pointer;
}

.title {
  font-size: 2rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: 0.15rem 0.3rem 0.3rem 0.3rem;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.scrolled {
  background: rgba(151, 108, 32, 0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
}

.rightSection {
  display: flex;
  gap: 1.5rem;
}

.desktopMenu {
  display: none;
  gap: 1.5rem;
  font-size: 1rem;
}

.desktopMenu a {
  text-decoration: none;
  color: white;
  transition: text-decoration 0.3s;
}

.mobileMenuButton {
  font-size: 1.8rem;
  width: 30px;
  cursor: pointer;
}

.paddingBottom {
  padding-bottom: 0.3rem;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: var(--header-height);
  left: 0;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.9);
  padding: 1rem;
}

.mobileMenu a {
  color: white;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .desktopMenu {
    display: flex;
  }
  .mobileMenuButton {
    display: none;
  }
  .mobileMenu {
    display: none;
  }

  .container {
    justify-content: space-between;
    gap: 6rem;
  }
}
