.banner {
  margin-top: var(--header-height);
  position: relative;
}

.bannerImg {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-family: 'Satisfy', system-ui;
}

.adjectives {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-size: clamp(1.25rem, 4.25vw, 3rem);
  width: 90%;
  padding-left: clamp(1rem, 4.25vw, 3rem);
}
