.footer {
  display: flex;
  gap: 1rem;
  background-color: var(--color-bg);
  color: var(--text-color);
  padding: 2rem;
  font-size: 0.85rem;
}

.stagentLogo {
  width: 80px;
}

@media (max-width: 1060px) {
  .footer {
    padding: 2rem 1rem;
  }
}
