.sidebar {
  position: fixed;
  top: 50%;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: rgb(255, 255, 255, 0.9);
  padding: 0.5rem;
  border-radius: 8px 0 0 8px;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.sidebar a,
.options {
  color: #000;
  font-size: 1.8rem;
  transition:
    transform 0.2s,
    color 0.2s;
}

.sidebar a:hover,
.options:hover {
  transform: scale(1.2);
  color: rgb(151, 108, 32);
}

.options {
  cursor: pointer;
}

.divider {
  height: 1px;
  background-color: #888888;
  margin: 0.5rem 0;
}

dialog {
  position: fixed;
  inset: 0;
  margin: auto;
  padding: 1.5rem;
  border: none;
  border-radius: 12px;
  font-family: monospace;
  background: #ffffff;
  color: #333;
  max-width: 300px;
  width: 100%;
  animation: fadeIn 0.2s ease;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
}

.title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  border-bottom: #b8b8b8 1px solid;
}

.section {
  margin: 1.2rem 0;
  flex: 1;
  margin-bottom: 3rem;
}

.label {
  display: block;
  font-size: 1rem;
}

.closeButton {
  position: absolute;
  bottom: 0rem;
  right: 0.6rem;
  background: none;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
  color: hsl(0, 0%, 23%);
}

.closeButton:hover {
  color: hsl(0, 0%, 43%);
}
