.header {
  display: flex;
  flex-direction: column;
  padding: 4px 8px;
  background: rgb(151, 108, 32);
  color: #ffffff;
  position: fixed;
  height: var(--header-height);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  font-family: "Satisfy", system-ui;
  font-size: 2.8rem;
  cursor: pointer;
}

.nametitle {
  font-size: 2rem;
}

.container {
  display: flex;
  justify-content: space-between;
}
