.gigs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem;
}

.gigsCardContainer {
  width: 100%;
  max-width: 800px;
}

.gigsTitle {
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}

.gigsLoadingText {
  font-size: 1.2rem;
  color: var(--text-color-light);
}
