/* DIALOG */

dialog {
  position: fixed;
  inset: 0;
  margin: auto;
  padding: 1.5rem;
  border: none;
  border-radius: 2px;
  font-family: monospace;
  background: #ffffff;
  color: #333;
  max-width: 300px;
  width: 100%;
  animation: fadeIn 0.2s ease;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
}

.dialogMenu {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.confirmButton {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 1rem;
}

.cancelButton {
  background-color: white;
  border: 1px solid #08b8ee;
  color: #08b8ee;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
