.form {
  width: 100%;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #111;
}

.header {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px 5px 0 0;
  background-color: rgb(151, 108, 32);
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: 'Satisfy', system-ui;
  font-size: 2rem;
}

.fields {
  padding: 2rem;
}

.button {
  padding: 0.6rem 1.2rem;
  background-color: rgb(151, 108, 32);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: hsl(38, 65%, 46%);
}
