.app {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 34, 34);
  height: 100vh;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.7rem 2.7rem 0;
  border-radius: 5px;
  background: #2d2d2d;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  width: 250px;
  height: 150px;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: rgb(133, 133, 133);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.title {
  padding-top: 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
}
