.app {
  margin: 0.75rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: rgb(34, 34, 34);
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 5px;
  background: #2d2d2d;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.divider {
  margin: 0.5rem 0 1.5rem;
  height: 1px;
  width: 100%;
  background-color: rgb(133, 133, 133);
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  font-size: 1.25rem;
  padding: 0 3rem;
}
