.gigs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gigsCard {
  background-color: rgb(241, 240, 240);
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 1400px;
}

.gigsTitle {
  padding: 1rem;
  border-radius: 0.8rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 1400px;

  font-size: 2.5rem;
  text-align: center;
  color: white;
  background-color: #444;
}

.gigsCard .gigsTable tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.gigsCard .gigsTable tr:last-child {
  border-bottom: none;
}

.gigsCard .gigsTable td {
  padding: 1rem;
}

@media (max-width: 868px) {
  .gigsCard {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
  }
}
