.gigs {
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gigsCard {
  background-color: #fffdf8;
  border: 1px solid #eee;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  max-width: 1200px;
  margin: 0 auto;
}

.gigsCard .gigsTable tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.gigsCard .gigsTable tr:last-child {
  border-bottom: none;
}

.gigsCard .gigsTable td {
  padding: 1rem;
}

@media (max-width: 868px) {
  .gigsCard {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
  }
}
