.gigs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 1rem;
}

.gigsCardContainer {
  width: 100%;
  max-width: 1000px;
}

.gigsTitle {
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}
