.header {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  background: rgb(240, 156, 0);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-height);
  width: 100%;
  z-index: 1000;
}

.title {
  font-family: 'Satisfy', system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 2.8rem;
}

.desktopMenu {
  display: none;
  gap: 1.5rem;
  font-size: 1.125rem;
}

.desktopMenu a {
  text-decoration: none;
  color: white;
  transition: text-decoration 0.3s;
}

.desktopMenu a:hover {
  text-decoration: underline;
}

.mobileMenuButton {
  font-size: 1.5rem;
  cursor: pointer;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 118px;
  left: 0;
  width: 100%;
  background-color: rgb(255, 187, 61);
  padding: 1rem;
}

.mobileMenu a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.mobileMenu a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .desktopMenu {
    display: flex;
  }
  .mobileMenuButton {
    display: none;
  }
  .mobileMenu {
    display: none;
  }
}
