.header {
  display: flex;
  flex-direction: column;
  padding: 4px 8px;
  background: rgb(211, 153, 55);
  color: white;
  position: fixed;
  height: var(--header-height);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.nametitle {
  font-size: 2rem;
}

.logo {
  display: flex;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: hsl(0, 0%, 100%);
  border-radius: 50%;
  padding: 0.175rem 0.3rem 0.3rem 0.3rem;
  width: 45px;
}

.scrolled {
  background: rgba(211, 153, 55, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
}

.container {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: 'Satisfy', system-ui;
  font-size: 2.8rem;
  cursor: pointer;
}

.desktopMenu {
  display: none;
  gap: 1.5rem;
  font-size: 1rem;
}

.desktopMenu a {
  text-decoration: none;
  color: white;
  transition: text-decoration 0.3s;
}

.mobileMenuButton {
  font-size: 1.8rem;
  cursor: pointer;
}

.paddingTop {
  padding-top: 0.2rem;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: var(--header-height);
  left: 0;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.9);
  padding: 1rem;
}

.mobileMenu a {
  color: white;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .desktopMenu {
    display: flex;
  }
  .mobileMenuButton {
    display: none;
  }
  .mobileMenu {
    display: none;
  }

  .container {
    justify-content: flex-start;
    gap: 6rem;
  }
}
