.header {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  background: linear-gradient(
    to bottom right,
    rgb(240, 156, 0) 50%,
    white 100%
  );
  color: white;
  position: fixed;
  height: var(--header-height);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: 'Satisfy', system-ui;
  font-size: 2.8rem;
  cursor: pointer;
}

.desktopMenu {
  display: none;
  gap: 1.5rem;
  font-size: 1.125rem;
}

.desktopMenu a {
  text-decoration: none;
  color: white;
  transition: text-decoration 0.3s;
}

.mobileMenuButton {
  font-size: 1.5rem;
  cursor: pointer;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: var(--header-height);
  left: 0;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.9);
  padding: 1rem;
}

.mobileMenu a {
  color: white;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .desktopMenu {
    display: flex;
  }
  .mobileMenuButton {
    display: none;
  }
  .mobileMenu {
    display: none;
  }

  .container {
    justify-content: flex-start;
    gap: 6rem;
  }
}
