.info {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 5rem;
  font-size: 1.25rem;
}

.info img {
  border-radius: 50%;
  padding: 1rem;
}

@media (max-width: 868px) {
  .info {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
}
