.socialSidebar {
  position: fixed;
  bottom: 20%;
  right: 0;
  transform: translateY(50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.5rem;
  border-radius: 8px 0 0 8px;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.socialSidebar a {
  color: #000;
  font-size: 1.8rem;
  transition:
    transform 0.2s,
    color 0.2s;
}

.socialSidebar a:hover {
  transform: scale(1.2);
  color: #f39c12;
}
