.footer {
  display: flex;
  gap: 1rem;
  background-color: rgb(43, 43, 43);
  color: white;
  padding: 2rem;
  font-size: 0.85rem;
}

.stagentLogo {
  width: 80px;
}

@media (max-width: 1060px) {
  .footer {
    padding: 2rem 1rem;
  }
}
