.googleLogin {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #333333;
  transition: background-color 0.2s ease;
}

.googleLogin:hover {
  background-color: #b8e6fd;
}

.googleIcon {
  font-size: 2rem;
}
