.modeSwitcher button {
  border: 1px solid rgb(114, 82, 26);
  color: rgb(114, 82, 26);
  border-radius: 2px;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}

.modeSwitcher button:hover {
  background-color: rgb(240, 230, 210);
  cursor: pointer;
}
