.card {
  display: flex;
  border-radius: 5px;
  padding: 2rem;
  margin-bottom: 1rem;
  gap: 2rem;
  background-color: var(--card-bg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  color: var(--text-color);
}

.leftColumn {
  border-right: solid 1px #888;
  padding-right: 3rem;
}

.dateIcon {
  margin-right: 1.5rem;
}

.date {
  display: flex;
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
}

.weekday {
  font-weight: bold;
  font-size: 1rem;
  margin-right: 0.5rem;
  color: var(--text-color);
}

.time {
  display: flex;
  color: var(--text-color-light);
  padding-left: 3.5rem;
}

.timeIcon {
  margin-right: 0.35rem;
}

.venueIcon,
.lineupIcon,
.notesIcon,
.cityIcon {
  margin-right: 1.5rem;
  font-size: 1.25rem;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.lineup,
.venue,
.city,
.notes {
  display: flex;
}

.notes span {
  flex: 1;
  text-wrap: balance;
}

.lineup {
  font-size: 1.15rem;
  font-weight: bold;
}

.notesIcon {
  margin-right: 1.5rem;
  color: #f39c12;
}

.cityText,
.notes {
  font-size: 0.85rem;
  color: var(--text-color-light);
}

/* DELETE BUTTON */

.deleteButton {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.deleteIcon {
  color: hsl(0, 100%, 69%);
  font-size: 1.5rem;
}

.deleteIcon:hover {
  color: hsl(0, 100%, 49%);
}

/* EDIT BUTTON */

.editButton {
  position: absolute;
  bottom: 5rem;
  right: 1rem;
}

.editIcon {
  color: hsl(192, 100%, 63%);
  font-size: 1.3rem;
}

.editIcon:hover {
  color: hsl(192, 100%, 43%);
}

@media (min-width: 769px) and (max-width: 900px), (max-width: 500px) {
  .card {
    flex-direction: column;
  }

  .leftColumn {
    border-right: none;
    padding-right: 0;
    border-bottom: solid 1px #888;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .time {
    margin: 0;
    padding: 0;
  }
}
