.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: rgb(151, 108, 32);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 3rem auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
