/* DIALOG */

dialog {
  position: fixed;
  inset: 0;
  margin: auto;
  padding: 1.5rem;
  border: none;
  border-radius: 2px;
  font-family: monospace;
  background: #ffffff;
  color: #333;
  width: 90%;
  max-width: 315px;
  animation: fadeIn 0.2s ease;
  text-wrap: balance;
  font-size: 1rem;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
}

.dialogMenu {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.confirmButton {
  background-color: #a72925;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 1rem;
}

.cancelButton {
  background-color: white;
  border: 1px solid #065f7a;
  color: #065f7a;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.dialogGigInfo {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
}
