.field {
  margin-bottom: 1rem;
  color: #111;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.3rem;
  color: #111;
}

.input,
.textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 1rem;
  color: #111;
  background-color: #fff;
}

.textarea {
  height: 5rem;
  resize: none;
}
