.form {
  width: 100%;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #111;
}

.header {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px 5px 0 0;
  background-color: rgb(151, 108, 32);
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: 'Satisfy', system-ui;
  font-size: 2rem;
}

.formTitle {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  font-weight: bold;
  text-align: center;
}

.fields {
  padding: 2rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.button,
.cancelButton {
  padding: 0.6rem 1.2rem;
  background-color: rgb(151, 108, 32);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.cancelButton {
  background-color: gray;
}

.cancelButton:hover {
  background-color: darkgray;
}

.button:hover {
  background-color: hsl(38, 65%, 46%);
}

.error {
  color: red;
  margin-top: 0.5rem;
}
