@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Satisfy&display=swap');

:root {
  --color-bg: #fff;
  --color-text: #333;
  --header-height: 118px; /* desktop header height */
}

html {
  scroll-padding-top: var(--header-height);
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}

button {
  cursor: pointer;
}

h2 {
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 1.5rem;
}

.section {
  padding: 2rem 3.5rem 2rem 2rem;
  min-height: calc(100vh - var(--header-height));
}
