:root {
  --color-bg: #f4f4f4;
  --color-text: #333;
  --header-height: 76px; /* desktop header height */
}

html {
  scroll-padding-top: var(--header-height);
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  cursor: pointer;
}

h2 {
  font-size: 2rem;
}
