.app {
  margin: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  background-color: rgb(34, 34, 34);
  justify-content: center;
  height: 100vh;
}

.left {
  min-width: 400px;
  flex: 1;
  max-width: 450px;
}

.right {
  flex: 2;
  height: 100vh;
  overflow-y: auto;
  max-width: 600px;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
    height: auto;
  }

  .left,
  .right {
    flex: unset;
    height: auto;
  }

  .left {
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
  }

  .right {
    max-width: 100%;
  }
}
