/* ===== Root Variables ===== */
:root {
  --color-bg: rgb(34, 34, 34);
  --color-text: #fff;
  --header-height: 53px; /* desktop header height */
  --card-bg: rgb(63, 63, 63);
  --text-color-light: #cdcdcd;
  --text-color: white;
}

/* ===== Light Mode Variables ===== */
html[data-theme='light'] {
  --color-bg: #fff;
  --color-text: rgb(34, 34, 34);
  --card-bg: #f5f5f5;
  --text-color-light: #9d9d9d;
  --text-color: #333;
}

/* ===== Global Styles ===== */
html {
  scroll-padding-top: var(--header-height);
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    sans-serif;
  transition:
    background 0.3s ease,
    color 0.3s ease; /* Smooth color transition */
}

button {
  cursor: pointer;
  transition:
    background 0.3s ease,
    color 0.3s ease; /* Smooth button color change */
}

/* ===== Headings ===== */
h2 {
  font-size: 2rem;
  transition: color 0.3s ease; /* Smooth heading color change */
}

/* ===== Focus Styles ===== */
:focus {
  outline: 1px solid black;
  outline-offset: 1px;
  border-radius: 1px;
  transition: outline 0.3s ease; /* Optional smooth outline transition */
}
