name: "Setup Node + Cache"
description: "Checkout repo, setup Node.js, and cache node_modules"
runs:
  using: "composite"
  steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: ${{ inputs.node-version }}

    - id: cache-node-modules
      uses: actions/cache@v3
      with:
        path: node_modules
        key: node-modules-${{ hashFiles('package-lock.json') }}
        restore-keys: node-modules-

    - name: Install dependencies
      run: npm ci

inputs:
  node-version:
    description: "Node.js version"
    required: true
