.gigs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem;
}

.gigsTitle {
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}

.gigsCardContainer {
  width: 100%;
  max-width: 800px;
}

.loadMoreContainer {
  min-height: 5rem;
}

.loadMoreIcon {
  font-size: 3.2rem;
}

.loadMoreIcon:hover {
  color: var(--text-color-light);
}

.loadMoreButton {
  margin-top: 1.5rem;
  display: flex;
}
